/*Reset*/

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box; /*Respeita o width definido e impede de colocar um padding maior que este width.*/
}

/*Container*/
.container {
  max-width: 1600px;
  margin: 0 auto;
}

/*Menu*/
.header-bg {
  background: white;
  box-shadow: 0 1px 6px #333132;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu-logo {
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.25em;
  margin-right: 10px;
}

.menu-nav ul li a {
  margin-left: 40px;
  padding: 10px;
  color: #484848;
}

.border-ativo {
  border-bottom: 1px solid black;
  font-size: 90%;
}

/*Introducao*/
.introducao-inicio {
  height: 330px;
  background: url("../img2/img-intro.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 135px;
}

.introducao h1 {
  font-size: 2.5em;
  text-align: center;
  color: white;
  font-weight: 600;
}

.introducao h3 {
  font-size: 2em;
  text-align: center;
  color: white;
  font-weight: normal;
}

.introducao-horario {
  background: #ff2e34;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introducao-horario::before,
.introducao-horario::after {
  content: url("../img2/bolt.svg");
  display: block;
  margin: 8px 20px 0 20px;
}

[data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 1.25s;
}

[data-anime="scroll"].ativo {
  /*nesse caso não é bom usar display none para evitar que o efeito fique 'pulando' toda vez que rolar o scroll*/
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Intro Interna */

.introducao-interna {
  background: black;
}

.introducao-principal {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.frase-call {
  flex: 1;
  margin-right: 20px;
}

.introducao-interna h1 {
  font-size: 3.25em;
  font-weight: lighter;
  color: white;
  padding-left: 30px;
  border-left: 8px solid #ff2e34;
}

/*SLides intro*/
/*Css Base*/

.slider {
  width: 650px;
  height: 520px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  transition: 1.25s;
  width: 20%;
}

.slide img {
  width: 650px;
  height: 520px;
}

/*CSS para navegação manual de slides*/

.navigation-manual {
  position: absolute;
  width: 650px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn:not(:last-child) {
  margin-right: 60px;
}

.manual-btn:hover {
  background: #484848;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.btn-call {
  max-width: 380px;
  text-align: center;
  margin-left: 180px;
  display: block;
  margin-top: 60px;
  background: #ff2e34;
  font-size: 1.5em;
  border-radius: 6px;
  color: black;
  font-weight: 500;
  padding: 10px 40px 10px 40px;
  transition: 0.5s linear;
}

.btn-call:hover {
  color: white;
  transition: 0.2s linear;
}

/* Sobre */

.sobre {
  text-align: center;
  margin: 0 auto;
}

.sobre h1 {
  font-weight: normal;
  font-size: 3em;
  margin-top: 60px;
}

.sobre h1::after {
  content: url("../img2/separador.svg");
  display: block;
  margin-top: -30px;
}

.sobre p {
  font-size: 1.75em;
  margin-top: 60px;
  line-height: 2em;
}

.sobre img {
  margin: 0 auto;
  margin-top: 90px;
}

/* Nossos Clientes */

.clientes h1 {
  margin: 90px 0 20px 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  color: #333132;
}

.nossos-clientes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #dedede;
  border-top: 2px solid #dedede;
}

.nossos-clientes > * {
  padding: 0 25px;
  margin: 20px 0;
}

/* Serviços */

.titulo-servicos {
  text-align: center;
  color: black;
  font-size: 1.5em;
  background: #ff2e34;
}

.titulo-servicos h1 {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-servicos h1::after,
.titulo-servicos h1::before {
  content: url("../img2/bolt.svg");
  display: block;
  margin: 15px 60px 0 60px;
}

.servicos {
  background: black;
}

.tipos-servicos ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.tipos-servicos ul li {
  margin: 60px 60px;
}

.tipos-servicos ul li p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: normal;
}

.descricao-loteamento,
.descricao-solar {
  position: relative;
  bottom: 60px;
}

.descricao-cabine-forca,
.descricao-elet-rural {
  position: relative;
  bottom: 25px;
}

.descricao-spda {
  position: relative;
  bottom: 100px;
}

.titulo-loteamento,
.titulo-solar {
  width: 380px;
  position: relative;
  bottom: 100px;
  text-align: center;
  font-size: 1.75em;
  font-weight: normal;
}

.titulo-cabine-forca,
.titulo-elet-rural {
  width: 380px;
  position: relative;
  bottom: 60px;
  text-align: center;
  font-size: 1.75em;
  font-weight: normal;
  margin: 0 auto;
}

.titulo-spda {
  width: 380px;
  position: relative;
  bottom: 140px;
  text-align: center;
  font-size: 1.75em;
  font-weight: normal;
}

.call-portfolio {
  text-align: center;
  padding-bottom: 60px;
}

.call-portfolio p {
  color: #f6eb07;
  margin-bottom: 30px;
  font-size: 1.25em;
}

.call-portfolio a {
  font-size: 1.5em;
  color: black;
  padding: 10px 40px;
  background: #ff2e34;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.5s linear;
}

.call-portfolio a:hover {
  color: white;
  transition: 0.2s linear;
}
/* Quebra */

.quebra {
  background: url("../img2/img-quebra.jpg") no-repeat center;
  width: 100%;
  background-size: cover;
  height: 620px;
}

/* Contato */

.contato-intro h1 {
  background: #ff2e34;
  text-align: center;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: normal;
  width: 100%;
}

.contato-intro h1::after,
.contato-intro h1::before {
  content: url("../img2/bolt.svg");
  display: block;
  margin: 10px 60px 0 60px;
}

.contato-dados::before {
  content: url("../img2/local.svg");
  display: block;
  margin-left: 175px;
}

.contato-section h1 {
  margin-top: 90px;
  text-align: center;
  font-size: 2.5em;
  color: #484848;
  font-weight: normal;
}

.contato-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  font-size: 1.5em;
  line-height: 2.5em;
  font-weight: normal;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contato-mapa {
  margin: 0 10px;
  flex: 1;
}

.telefone {
  display: flex;
  align-items: flex-end;
}

.telefone a {
  margin: 0 10px;
}

.contato-dados {
  margin-left: 10px;
  flex: 1;
}

.contato-dados ul li:nth-child(2) {
  line-height: 1.5em;
}

.contato-email::before {
  content: url("../img2/separador-contato.svg");
  display: block;
}

.contato-dados ul::after {
  content: url("../img2/separador-contato.svg");
  display: block;
  margin-top: -20px;
}

/*header-intro páginas*/
/*Header Intro */
.sobre-intro {
  margin-top: 135px;
  background: black;
}

.intro-frase {
  text-align: center;
  color: white;
  padding: 40px 0;
}

.intro-frase h1 {
  font-size: 2.5em;
  font-weight: 500;
}

/*Page-Sobre*/
/* Sobre */

.sobre {
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}

.sobre h1 {
  font-weight: normal;
  font-size: 3em;
  margin-top: 60px;
}

.sobre h1::after {
  content: url("../img2/separador.svg");
  display: block;
  margin-top: -30px;
}

.sobre p {
  font-size: 1.75em;
  margin-top: 60px;
  line-height: 2em;
}

.sobre img {
  margin: 0 auto;
  margin-top: 90px;
}

.sobre-info {
  margin-bottom: 90px;
}

/* Sobre Serviços */

.sobre-intro-2 {
  background: linear-gradient(0deg, white 45%, black 45%);
}

.sobre-servicos {
  display: flex;
  padding-top: 30px;
}

.img-5 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.img-1-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.img-3-4 div:last-child {
  margin-top: 25px;
}

.servicos-descricao h1 {
  font-size: 3em;
  font-weight: normal;
  color: white;
  margin-left: 10px;
}

.servicos-descricao > p {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 30px;
  color: white;
  padding-bottom: 30px;
  border-bottom: 3px solid#FF2E34;
  margin-left: 10px;
}

.servicos-fotos {
  margin-right: 60px;
}

.servico-img {
  text-align: center;
  margin-top: 90px;
}
.servico-img h2 {
  font-size: 2.5em;
  font-weight: normal;
}

.servico-svg ul {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.servico-svg div {
  margin: 70px 60px 30px 60px;
  font-size: 2.5em;
}

.servico-svg p {
  color: #333132;
  font-size: 1.5em;
}

/* bg-quebra */

.bg-quebra {
  background: url("../img2/img-intro.jpg") no-repeat center;
  background-size: cover;
  height: 300px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bg-quebra h1 {
  color: white;
  font-style: italic;
  font-size: 3.25em;
  font-weight: normal;
}

/*Page Portfólio*/

/* Serviços */

.call-portfolio {
  text-align: center;
  padding-bottom: 60px;
}

.call-portfolio p {
  color: #f6eb07;
  margin-bottom: 30px;
  font-size: 1.25em;
}

.call-portfolio a {
  font-size: 1.5em;
  color: black;
  padding: 10px 40px;
  background: #ff2e34;
  border-radius: 6px;
  font-weight: 500;
}

/* Nossos Clientes */

.clientes h1 {
  margin: 60px 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  color: #333132;
}

.nossos-clientes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 2px solid #dedede;
}

.nossos-clientes > * {
  padding: 0 20px;
}

/*Contato*/

/* Contato */

.contato-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.contato-separador {
  font-size: 3em;
}

.contato-chat {
  text-align: center;
}

.contato-chat img {
  margin: 0 auto;
  margin-top: 60px;
}

.contato-chat h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 20px;
  color: #4b57ff;
}

.btn-chat {
  text-align: center;
  font-size: 1.5em;
  background: #4b57ff;
  padding: 10px 30px;
  border-radius: 6px;
  color: white;
  transition: 0.6s;
}

.btn-chat:hover {
  background: #6771ff;
  transition: 0.3s;
}

.contato-chat p {
  font-weight: 500;
  margin-top: 10px;
}

.contato-telefone {
  margin-top: 60px;
}

.contato-telefone h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.whatsapp {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-top: 30px;
}

.whatsapp a {
  margin-left: 20px;
}

.telefone-empresa {
  font-size: 24px;
  margin-top: 30px;
}

.email {
  font-size: 1.5em;
  margin-top: 30px;
}

.contato-local-section {
  background: #d9d9d9;
}

.contato-local-section h1 {
  margin-top: 120px;
  text-align: center;
  font-size: 2.5em;
  color: #484848;
  font-weight: normal;
  padding-top: 20px;
}

.contato-local-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 1.5em;
  line-height: 2.75em;
  font-weight: normal;
  padding-top: 60px;
  padding-bottom: 30px;
}

.contato-dados::before {
  content: url("../img2/local.svg");
  display: block;
  margin-top: -30px;
}

.contato-dados ul li:nth-child(2) {
  line-height: 1.25em;
}

.contato-dados ul::after {
  content: url("../img2/separador-contato.svg");
  display: block;
  margin-top: -20px;
}

/* Footer */

.footer-bg {
  background: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 20px 0 20px;
  color: #c1c1c1;
  align-items: flex-start;
  line-height: 2em;
}

.footer h1 {
  font-weight: normal;
  margin-bottom: 15px;
}

.footer-logo {
  text-align: center;
  margin-top: -30px;
  padding-bottom: 60px;
}

.footer-lista {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.footer-lista li {
  margin: 15px 0;
}

.footer-lista a {
  color: #d9d9d9;
}

.footer-lista a:hover {
  color: #ff2e34;
}

.footer-icones {
  display: flex;
  justify-content: center;
}

.footer-icones img {
  margin: 15px 10px;
}

.copy {
  background: #ff2e34;
  color: #d9d9d9;
  padding: 10px 0 10px 10px;
}

/*Responsividade*/

@media (max-width: 1650px) {
  .menu-logo {
    margin-left: 20px;
  }

  .copy {
    padding-left: 20px;
  }

  .nossos-clientes > div {
    margin: 30px auto;
  }

  .contato-dados {
    margin-left: 30px;
  }

  .servicos-descricao h1,
  .servicos-descricao p {
    margin-left: 30px;
  }

  .contato-lista {
    margin: 0 20px;
  }
}

@media (max-width: 1465px) {
  /*introducao*/
  .btn-call {
    margin-left: 90px;
  }
  .introducao-interna h1 {
    margin-left: 20px;
    font-size: 3em;
  }
}

@media (min-width: 1401px) and (max-width: 1614px) {
  /*Intro*/

  .introducao-interna h1 {
    margin-left: 80px;
  }

  .btn-call {
    margin-left: 180px;
  }
}

@media (min-width: 672px) and (max-width: 1300px) {
  .sobre-intro-2 {
    background: linear-gradient(0deg, white 73%, black 73%);
  }
}

@media (max-width: 1300px) {
  /*Intro*/

  .quebra {
    background: url("../img2/img-quebra-mobile.jpg") no-repeat center;
    background-size: cover;
  }

  /*Servicos*/

  .sobre-servicos {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 10px;
  }

  .servicos-fotos {
    margin: 0 auto;
    margin-top: 60px;
  }

  .sobre-info {
    margin-bottom: 30px;
  }

  /*Footer*/

  .footer-sobre {
    display: none;
  }

  .copy {
    padding-left: 20px;
  }
}

@media (max-width: 868px) {
  .titulo-servicos h1 {
    font-size: 1.25em;
  }
  /*Footer*/
  .footer {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .footer-mapa {
    margin-bottom: 30px;
  }

  .footer-redes {
    margin-bottom: 30px;
  }

  /*bg-quebra Sobre*/
  .bg-quebra {
    font-size: 0.75em;
  }

  /*Contato*/
  #iframe-mapa-contato {
    height: 350px;
    width: 650px;
    margin-top: 60px;
  }
}

@media (max-width: 1259px) {
  /*Introducao*/

  .introducao-principal {
    flex-direction: column;
    padding-top: 40px;
  }

  .introducao-principal h1 {
    border-left: none;
    text-align: center;
    font-size: 3em;
    padding: 0px;
  }

  .btn-call {
    margin: 60px auto;
  }

  .introducao-img {
    display: none;
  }

  .slider {
    display: none;
  }

  .intro-bg-mobile {
    height: 400px;
    background: url("../img2/eletricista-2-mobile.jpg") no-repeat center;
    background-size: cover;
  }

  /*Contato*/
  .contato-lista {
    flex-direction: column;
  }

  .contato-lista > * {
    margin: 40px 0;
  }
}

@media (min-width: 725px) and (max-width: 1258px) {
  /*Sobre*/

  .sobre img {
    width: 50%;
    height: 50%;
    margin: 30px auto -50px auto;
  }

  .sobre h1 {
    font-size: 2.5em;
  }

  .sobre-info {
    font-size: 0.75em;
  }
  /*Contato*/

  .contato-section h1 {
    margin-bottom: 60px;
  }
  .contato-info {
    margin: 0 auto;
    flex-direction: column;
  }

  .contato-local-info {
    margin: 0 auto;
    flex-direction: column;
  }

  .contato-dados {
    margin-bottom: 60px;
  }

  #iframe-mapa {
    height: 400px;
    width: 700px;
  }
}

@media (max-width: 724px) {
  /*introducao*/

  .introducao-inicio {
    height: 250px;
  }

  .introducao-frase {
    font-size: 0.75em;
  }

  .introducao-horario {
    font-size: 0.75em;
  }

  /*Introducao-interna*/

  .btn-call {
    width: 300px;
    font-size: 2em;
    padding: 10px 10px 10px 10px;
  }

  .frase-call {
    font-size: 10px;
    margin-right: 0;
  }

  /*Sobre*/

  .contato {
    font-size: 14px;
  }

  .contato-local-info {
    flex-direction: column;
  }

  .contato h1::after,
  .contato h1::before {
    display: none;
  }

  .contato-local-section {
    text-align: center;
    margin-bottom: -20px;
  }

  .contato-section h1 {
    font-size: 2em;
  }

  /*Sobre*/

  .sobre-info h1 {
    font-size: 1.75em;
  }

  .sobre-info p {
    font-size: 1em;
    margin: 20px 10px 0 10px;
  }

  .sobre img {
    width: 60%;
    height: 60%;
    margin: 30px auto -50px auto;
  }

  /*Contato*/

  #iframe-mapa {
    height: 225px;
    width: 450px;
  }

  #iframe-mapa-contato {
    height: 225px;
    width: 450px;
  }

  .contato-info {
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
  }

  .contato-email::before,
  .contato-dados ul::after {
    display: none;
  }

  .contato-dados::before {
    margin-left: 0;
  }

  .telefone {
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .telefone a {
    display: none;
  }

  .contato-email {
    margin: 30px;
  }

  .contato-dados {
    margin-left: 0;
  }

  /*Quebra*/

  .quebra {
    height: 300px;
  }

  /*Footer*/
  .footer-bg {
    margin-top: 20px;
  }
}

@media (max-width: 740px) {
  /*Introducao*/

  .introducao-inicio {
    margin-top: 185px;
  }
  /*Menu*/
  .menu {
    flex-direction: column;
  }

  .menu-nav {
    margin-top: 30px;
    padding-bottom: 10px;
  }

  .menu-nav ul li a {
    margin: 0px 40px 0 40px;
  }

  .menu-nav ul {
    margin-right: 0px;
  }

  .menu-logo {
    padding: 0;
    margin-top: 20px;
    margin-left: 0;
  }

  .border-ativo {
    border-bottom: 3px solid #ff2e34;
    font-size: 90%;
  }

  /*Tipos-servicos*/

  .titulo-servicos h1 {
    font-size: 24px;
    margin: 0 12px;
  }

  .titulo-servicos h1::after,
  .titulo-servicos h1::before {
    display: none;
  }
}

@media (max-width: 536px) {
  .menu-nav ul li {
    margin: 0;
  }
}

@media (max-width: 535px) {
  /*Menu*/

  .header-bg {
    position: absolute;
  }
  .menu-nav ul {
    flex-direction: column;
  }

  .menu-nav ul li {
    margin: 10px 0;
    border: 3px solid black;
    font-size: 1.25em;
  }

  .border-ativo {
    border-bottom: none;
  }

  .introducao-inicio {
    margin-top: 345px;
  }

  .intro-frase {
    margin-top: 340px;
  }

  /*Sobre*/

  .sobre h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 499px) {
  #iframe-mapa {
    height: 175px;
    width: 325px;
  }

  /*Contato*/

  #iframe-mapa-contato {
    height: 175px;
    width: 325px;
  }

  .btn-chat {
    font-size: 1.25em;
    padding: 10px 25px;
  }
}

@media (max-width: 402px) {
  .tipos-servicos {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .contato-intro h1 {
    font-size: 1.2em;
  }
}

/*Página Sobre*/

@media (max-width: 740px) {
  .sobre-intro {
    margin-top: 185px;
  }

  .whatsapp p {
    font-size: 1.2em;
  }
}

@media (max-width: 671px) {
  .servicos-descricao h1 {
    font-size: 2em;
    margin-left: 0;
  }

  .servicos-descricao > p {
    font-size: 1.25em;
    margin-left: 0;
  }

  .servico-img h2 {
    font-size: 2em;
  }

  .servico-svg ul {
    flex-direction: column;
    align-items: center;
  }

  .servicos-descricao > p {
    padding-bottom: 0;
  }

  .sobre-intro-2 {
    background: linear-gradient(0deg, white 82%, black 82%);
  }

  .bg-quebra {
    height: 200px;
  }

  .bg-quebra h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 549px) {
  .sobre-intro-2 {
    background: linear-gradient(0deg, white 82%, black 82%);
  }

  .servicos-descricao h1 {
    font-size: 1.5em;
  }

  .servicos-descricao > p {
    font-size: 1em;
  }

  .servico-img h2 {
    font-size: 1.75em;
    margin-top: 120px;
  }

  .servicos-fotos {
    margin: 0 auto;
  }

  .img-1-2 {
    align-items: center;
    margin-top: 90px;
  }

  .img-1-2 > div {
    margin: 0 10px;
  }

  .trafos-sobre-img {
    margin: 0 10px;
  }

  .img-5-solo {
    margin: 0 10px;
  }

  .img-3-4 > div {
    margin: 0 10px;
  }

  .bg-quebra {
    height: 150px;
  }

  .bg-quebra h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 450px) {
  .servicos-descricao > p {
    font-size: 12px;
  }

  .sobre-intro-2 {
    background: linear-gradient(0deg, white 83%, black 83%);
  }

  .contato-info {
    font-size: 1.2em;
    flex-wrap: wrap;
  }

  .telefone-empresa {
    font-size: 1.3rem;
  }

  .whatsapp {
    font-size: 1.25em;
  }

  .tipos-servicos img {
    max-width: 340px;
    margin: 0 auto;
  }

  .titulo-loteamento,
  .titulo-solar {
    width: 320px;
    position: relative;
    bottom: 90px;
    font-size: 1.5em;
    margin: 0 auto;
  }

  .titulo-cabine-forca,
  .titulo-elet-rural {
    width: 320px;
    position: relative;
    bottom: 60px;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
  }

  .titulo-spda {
    width: 320px;
    position: relative;
    bottom: 120px;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 auto;
  }

  .contato-chat a {
    font-size: 0.9rem;
  }
}

@media (max-width: 724px) {
  .bg-quebra {
    margin-bottom: -20px;
  }
}
